* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.blog {
  top: 0;

  height: 1000vh;
  background: #c2c2d0;
}
.title {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  background: #4444d2;
  align-items: center;
  border-radius: 3px;
}

li {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 100%;
}
li:hover,
li:focus {
  color: #c2c2d0;
}

.postHead {
  background: rgb(88, 92, 196);
  padding: 2px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.post {
  width: 50%;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #fff, #ceced6);
  padding: 1rem;
  border-radius: 5px;
}

footer {
  font-weight: bold;
}
footer span {
  font-style: italic;
  float: right;
  font-weight: 100;
  font-size: 12px;
}

.reactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.reactions p {
  background: #4444d2;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
input {
  height: 20px;
  border: 0;
  border-radius: 10px;
}
.searchBox p {
  color: #fff;
  font-weight: 100;
  cursor: pointer;
}
input::placeholder {
  color: #8a8aa3;
  font-family: inherit;
  font-style: italic;
  padding: 10px;
}
.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35vh;
  padding-left: 10px;
}
#post-title,
#author-name {
  margin-left: 10px;
  height: 25px;
}
#post-content {
  height: 70px;
  width: 70%;
  margin-left: 10px;
}
.publish-post {
  padding: 7px;
  width: 100px;
  background: #4444d2;
  letter-spacing: 2px;
  margin-left: 40px;
}
fieldset {
  border: 1px solid #7878cf;
  height: 40vh;
  margin: 5px;
  border-radius: 5px;
}

.add-post h2 {
  text-align: center;
  background: #7272e3;
  width: 50%;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
.about {
  width: 50%;
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deleteBtn {
  background: red;
  padding: 5px;
  text-align: center;
  margin-left: 45%;
}
